
/*css header*/
.fixed{
    position: fixed;
    z-index: 900;
    top: 0;
    background: radial-gradient(#fff,#ffd6d6);
    width: 100%;
    margin-left: -25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/* media query for menu */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/*css footer*/
/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}


/*css contact*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    margin-top: 200px;
}
.header input {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;

}
.header #message{
    width: 300px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.button {
    margin-top: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: black;
    background: element(whitesmoke);
}