<div class="navbar" id="menuTop">
    <div class="logo">
        <img src="../images/logo.png" width="125px"/>
    </div>
    <nav>
        <ul id="MenuItem">
            <li><a href="#">Home</a> </li>
            <li><a href="#">Products</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="#">Contact Us</a> </li>
            <li><a href="#">Account</a> </li>
        </ul>
    </nav>
    <a href="#" id="card-shop">
        <img src="../images/cart.png" width="30px" height="30px">
        <span id="count-item" data-count="0">0 item</span>
    </a>
    <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">

</div>