<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../images/logo.png" width="125px"/>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a> </li>
                    <li><a href="#">Products</a> </li>
                    <li><a href="#">About</a> </li>
                    <li><a href="#">Contact Us</a> </li>
                    <li><a href="#">Account</a> </li>
                </ul>
            </nav>
            <img src="../images/cart.png" width="30px" height="30px">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Give Your Workout</br> A new style</h1>
                <p>Success The Republican National Committee slammed the exchange,</br>
                    which came three days after ISIS-K terrorists attacked
                </p>
                <a href="#" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="../images/image1.png">
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-3.6.0.min.js"></script>

</body>
</html>