<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <!-- Latest compiled and minified CSS -->
</head>
<body>


<section class="main col-md-12">
    <div class="container">
        <div class="row">
            <article class="col-md-8 content">
                <form class="col-md-6">
                    <div class="col-md-9">
                        <input type="text" name="keyword" class="form-control" placeholder="Tim kiem.."/>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>

                        <th>Ten TG</th>
                        <th>ID</th>

                    </tr>
                    </thead>

                </table>
            </article>
            <aside class="col-md-4 sidebar">
                <div class="box first">
                    Email Newsletter
                </div>
                <div class="box social">
                    Social icon
                </div>
                <div class="box search">
                    Search
                </div>
            </aside>
        </div>
    </div>
</section>
</body>
</html>