<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/account_songdev.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

</div>

<!-- -&#45;&#45;-->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="images/image1.png" width="100%"/>
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span id="titleLogin" class="active" onclick="login()">Login</span>
                        <span id="titleReg" onclick="register()">Register</span>
                    </div>

                    <form id="LoginForm">
                        <input type="text" placeholder="Username"/>
                        <input type="password" placeholder="Password"/>
                        <button type="submit" class="btn">Login</button>
                        <a href="#">Forgot passsword</a>
                    </form>

                    <form id="RegForm">
                        <input type="text" placeholder="Username"/>
                        <input type="email" placeholder="Email"/>
                        <input type="password" placeholder="Password"/>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<footer>
    <div class="container">
        <div class="left box">
            <div class="upper">
                <div class="topic">About us</div>
                <p>GRACIOUS GARMENTS sis selling various types of GARMENTS for both men and
                    women.</p>
            </div>
            <div class="footer-logo">
                <div class="topic">Download our App</div>
                <p>Download App for Android and Ios  mobile phone</p>
                <div class="app-logo">
                    <img src="../images/play-store.png">
                    <img src="../images/app-store.png">
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Our Services</div>
            <div><a href="#">Advertisement of garment products</a></div>
            <div><a href="#">Designing garment products</a></div>
            <div><a href="#">Selling and distributing products</a></div>

            <div class="lower">
                <div class="topic">Contact us</div>
                <div class="phone">
                    <a href="#"><i class="fas fa-phone-volume"></i>+84 4953 0134</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="right box">
            <div class="topic">Subscribe us</div>
            <form action="#">
                <label>
                    <input type="text" placeholder="Enter email address">
                </label>
                <input type="submit" name="" value="Send">
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2020 <a href="#">GRACIOUS GARMENTS</a> All rights reserved</p>
    </div>
</footer>


<script type="text/javascript " src="js/account_SongDev.js"></script>
</body>
</html>