.fixed{
    position: fixed;
    z-index: 900;
    top: 0;
    background: radial-gradient(#fff,#ffd6d6);
    width: 100%;
    margin-left: -25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/* media query for menu */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
